.about-us {
    background: url('../images/home_page/about-us.png') no-repeat;
    background-size: cover;
    background-position: left center;
    font-family: 'MuseoSans300';
    .about-us-member {
        color: #2B2B2B;
    }
    .about-us-function {
        font-size: $font-size-xs;
        color: #b2b2b2;
        margin-left: 2%;
    }
    h2 {
        margin-top: 2%;
    }
    .btn-about-us {
        max-width: 270px;
    }
    .about-us-wrapper{
          @include media-breakpoint-down(md) {
            text-align: center;
        }
    }

}   

