.add-extra-security {
    background-color: #F9F9F9;
    font-family: MuseoSans100;
    font-size: 16px;
    ul {
        color: #444444;
        font-weight: 700;
        @include media-breakpoint-down(lg) {
            margin-bottom: 5%;
        }
    }
    .add-extra-security-img {
        @include media-breakpoint-down(md) {
            margin-top: 2%;
        }
    }
    .btn-add-extra-security-wrapper {
         max-width: 270px;
         @include media-breakpoint-down(lg) {
             margin: 0 auto !important;
             display: block;
        }
    }
    img {
        @include media-breakpoint-down(lg) {
            margin-top: 5%;
        }
    }
}    
    
