#award-win {
  background: url('../images/proven_leader_page/winning-background.png') no-repeat scroll left top / cover;
  .security {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-left: 2%;
  }

  img {
    display: inline-block;
  }

  h6 {
    font-size: 0.9rem;
  }

  .security-text {
    display: inline-block;
  }

  .layer {
    max-width: 95px;
    width: 100%;
    display: inline-block;
    img {
      text-align: center;
    }
  }

  .small-security {
    margin-bottom: 1%;
  }

  .security-for-small-office {
    @include media-breakpoint-down(md) {
        margin-top: 5%;
    }
  }

  .subtitle {
    font-family: 'MuseoSans900';
    font-size: 16px;
    color: #333;
  }

  .kasgreen-subtitle {
    font-family: 'MuseoSans300';
    font-size: 16px;
    margin-bottom: 0; 
    margin-top: 16px;
  }
  .kasgreen-subtitle-office {
    font-family: 'MuseoSans300';
    font-size: 16px;
    margin-bottom: 2px !important; 
    margin-top: 16px;
  }

  .security-text {
    font-weight: 700;
    font-size: 15px;
    color: #444;
  }

}