.awards {
    background: #F9F9F9 url('../images/grid-background.png') top left repeat-x;
    font-family: "MuseoSans300";
    font-size: 16px;
    .subtitle {
        color: #434343;
        text-transform: uppercase;
        font-family: "MuseoSans900";
    }
    .img-fluid {
        margin-bottom: 10%;
    }
    .carousel-control.left, .carousel-control.right {
        background: 0;
    }
    .carousel-control {
        text-shadow: 0 1px 2px transparent;
    }
    .carousel-indicators .active {
        background-color: $brand-success;
    }
    .carousel-indicators {
        li {
            border: 5px solid #dcdcdc;
            background-color: #dcdcdc;
            box-sizing: content-box;
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                z-index: -1;
                width: 10px;
                height: 9px;
                background: #dcdcdc;
                left: 100%;
                top: 40%;
                margin-top: -3px;
                margin-left: -1px;
            }
            &:last-of-type:after {
                content: normal;
            }
        }
        
    }
    .carousel-indicators {
        bottom: -40px;
    }
    .idc-subtitle {
        padding-left: 10%;
    }
    .carousel-inner {
        min-height: 420px;
    }
    .img-fluid, .carousel-inner > .carousel-item > img, 
    .carousel-inner > .carousel-item > a > img {
        display: initial;
    }
    .btn-awards {
        max-width: 270px;
    }
    .av-img-wrapper, .idc-img-wrapper {
        height: 100px !important;
    }
    .av-img, .idc-img {
        height: 100px;
    }
}