.body-columns-404 {
    .title-body-columns-404 {
        color: #434343;
        font-family: "MuseoSans900";
        @extend .text-uppercase;
        margin-left: 40px;
    }
    li {
        font-family: "MuseoSans100";
        color: #0B735D;
    }
    .home-users {
        background: url('/images/404_page/home-users.png') 20px -10px no-repeat;
    }
    .small-business {
        background: url('/images/404_page/small-business.png') 16px -10px no-repeat;
    }
    .medium-business {
        background: url('/images/404_page/medium-business.png') 16px -10px no-repeat;
    }
    .enterprise {
        background: url('/images/404_page/enterprise.png') 18px -10px no-repeat;
    }

}