#security {
  border: solid #ededed;
  border-width: 0;
  background: url('../images/home_page/security-background.png') no-repeat scroll left top / cover;
  // height: 100%;
  .title-white {
    color: #fff;
    font-size: $font-size-h4;
    @extend .text-uppercase;
    font-family: "MuseoSans900";
  }

  .security-btn {
    margin: 0 auto;
    display: block;
    max-width: 270px;
  }

  .security-prod {
    margin: 0 auto;
    padding-bottom: 6%;
    padding-top: 6%;
  }

  .ruler {
    margin: 0 auto;
  }
}
