.categories-404 {
    h6 {
        color: #0B735D;
        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }
    .description {
        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }
}