.compare-products {
    &-item {
        &-img {
            float: left;
            margin-right: 1.25rem;
            margin-bottom: 1rem;
        }
        i {
            text-align:center;
        }
    }
    .recommended-tooltip {
        background: $brand-primary;
        position: relative;
        margin-left:  (($grid-gutter-width / -2) - 1);
        margin-right: (($grid-gutter-width / -2) - 1);
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: #FFF;
        margin-bottom: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: .85rem;
        font-weight: bold;
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px 5px 0;
            border-style: solid;
            border-color: transparent;
            border-top-color: $brand-primary;
        }
    }
    .recommended-product {
        border-left: 1px solid $input-border-color;
        border-right: 1px solid $input-border-color;
        @media (min-width: 993px) {
            background: #FFF;
        }
    }
    .promo-badge {
        position: absolute;
        top: 0;
        right: 5px;
        text-align: center;
        background: url('/images/home_page/promo_badge_bg.png') no-repeat center center;
        min-width: 66px;
        min-height: 66px;
        font-size: .5rem;
        font-weight: bold;
        color: #FFF;
        .promo-badge-text {
            position: absolute;
            transform-origin: 50% 50%;
            transform: rotate(25deg) translateY(100%);
            margin-left: -35%;
            width: 100%;
        }
    }

    .product-feature.odd {
        background: $green-light;
    }
    .recommended-product .product-feature-checkbox {
        @media (min-width: 993px) {
            border-top: 1px solid $input-border-color;
        }
    }

    .product-feature-name {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .product-feature-checkbox {
        position: relative;
        .product-feature-check {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &.last {
            color: $brand-primary;
        }
    }
}
.compare-products-side-left {
    background: url('/images/home_page/scroll_down_bg.png') no-repeat top center;
}
.compare-products-item-short-description {
    border-top: 1px solid $input-border-color;
    border-bottom: 1px solid $input-border-color;
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 100%;
}