.company {
    font-family: 'MuseoSans300';
    font-size: 16px;
    .btn-company {
        max-width: 270px;
    }
    .text-xs-center.m-b-2 {
        font-family: 'MuseoSans100';
        font-size: 16px;
    }
    h6 {
        color: #0b725c !important;
    }
}