.digital-dangerous {
    background-color: #F7F7F7;
    a {
        box-sizing: content-box;
        position: relative;
        &:after {
            content: '>';
            display: block;
            position: absolute;
            color: #444444; 
            top: -13%; 
            left: 110%;             
            }
        &:last-of-type:after {
            content: normal;
        }
    }
    .breadcrumb {
        background: none !important;
        font-family: 'MuseoSans300';
        font-size: $font-size-xs;
    }
    .active {
        color: #0b725c !important;
    }
    .digital-dangerous-title {
        color: #434343;
        font-size: $font-size-h3;
        @extend .text-uppercase;
        font-family: "MuseoSans900";
        color: #0D705B;
        font-size: 50px;
        @include media-breakpoint-down(xs) {
            font-size: 40px;
        }
    }
    .description {
        font-family: "MuseoSans300"; 
        font-size: 20px;
        color: #454545;
    }
    .subtitle {
        font-family: "MuseoSans700"; 
        font-size: 25px;
        color: #444;
        vertical-align: middle;
        // top: 25px;
        // position: relative;
        line-height: 1.3em;
    }
    .kid-img, .dagerous-content {
        float: left;
    }
    .registered-trademark {
        font-size: 12px;
        // top: 25px;
        // position: relative;
        /*top: 20px;*/
        vertical-align: top;
        position: relative;
        span:last-child {
            display: inline;
            vertical-align: center;
        }
        
    }
    .btn-digital-dangerous {
        clear: both;
        max-width: 270px;
        width: 100%;
        font-weight: 700;
        text-align: center; 
        text-transform: uppercase;
    }
    .amount {
        font-family: "MuseoSans700";
        font-size: 26px;
        color: #444;
        text-align: center;
         @include media-breakpoint-down(md) {
             text-align: left;
             margin-left: 15%;
         }
    }
    .btn {
      white-space: normal !important;
    }
    
    .btn.text-uppercase.btn.btn-danger > img {
      vertical-align: middle;
    //   float: right;
    }
    .cart-img {
        float: right;
    }
    .safeKids {
        position: relative;
        top: 45px;
    }

    .kid-image, .kid-container {
        display: inline-block;
        vertical-align: middle;
    }
    // .toy {
    //     width: 20%;
    // }
    // .safe.col-lg-3 {
    //     width: 27%;
    // }

}