#follow-us {
  .follow-background {
    background-color: #dcdcdc;
    .active {
      color: #444444;
    }
    .active:after {
      content: "";
      width: 0;
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #dcdcdc;
      position: absolute; 
      margin: 0 auto;
      left: 45%;
    }
  }
  .btn {
    text-transform: none;
    color: white;
    border: none;
    // padding: 0.65rem;
    font-size: 12px;
  }

   .linkedinBtn {
    background: #457fc7 url('/images/about_us_page/linkedinBtn.png') no-repeat;
  }

  .fbBtn {
    background: #5162ab url('/images/about_us_page/facebookBtn.png') no-repeat;
  }

  .gplusBtn {
    background: #444444 url('/images/about_us_page/gugalBtn.png') no-repeat;
  }

  .twitBtn {
    background: #2da7ed url('/images/about_us_page/twitterBtn.png') no-repeat;
  }

  .utuBtn {
    color: #614443;
    background: #e4e9ea url('/images/about_us_page/youtubeBtn.png') no-repeat; 
  }
  .options {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 2%;
    button {
      padding-left: 50px;
      text-align: left;
    }
  }

  .options.col-xs-12 button {
    text-align: center;
  }

  /*.followTxt {
    margin-right: 6%;
  }

  .options {
     width: 22%;
     margin-top: 2%;
     margin-right: -4%;
     img {
       margin-right: 1px;
     }
  }

  .linkedinL {
    float: left;
  }

  .linkedinBtn {
    background-color: #457fc7;
  }

  .fbBtn {
    background-color: #5162ab;
  }

  .gplusBtn {
    background-color: #444444;
  }

  .twitBtn {
    background-color: #2da7ed;
  }

  .utuBtn {
    color: #614443;
    background-color: #e4e9ea;
  }*/
}
