#footer {
    border-top: 1px solid #e3e3e3;

    & > .container {
        background: url('../images/footer-logo.png') no-repeat left top;
    } 

    a {
        color: #b2b2b2;
    }

    .btn-secondary {
        color: $body-color;
        text-transform: none;
        text-align: inherit;
        font-size: $footer-font-size;
        font-weight: bold;
        padding: 10px;
        max-width: none;
    }

    .dropdown.language-selector {
        .dropdown-toggle::after {
            display: none;
        }
        .dropdown-menu {
            width: 100%;
            top: auto;
            bottom: 100%;
            margin: 0;
        }
        .globe-icon {
            float: left;
            margin-right: 10px;
            font-size: 18px;
            color: #b2b2b2;
        }
        .chevron-icon {
            float: right;
            font-size: 8px;
            color: #7f7f7f;
        }
        .globe-icon,
        .chevron-icon,
        .btn-text {
            line-height: 18px;
        }
        .dropdown-menu {
            font-size: $footer-font-size;
        }
    }

    .copyright-section {
        font-size: $footer-font-size;

        .copyright {
            padding-bottom: 16px;
            border-bottom: 1px solid #e3e3e3;
        }
    }

    .footer-link.list-inline-item:not(:last-child) {
        margin-right: 0;
        &:after {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            background: #b2b2b2;
            border-radius: 50%;
            margin: 0 19px 2px 19px;
        }
    }

    .social-links {
        margin-bottom: 12px;
    }

    .social-link {
        margin: 0 !important;
        width: 20% !important;
    }
}