#free-prods {
  .btn {
    max-width: 270px;
    width: 100%;
  }

  .nav, .taburi {
    background-color: #dcdcdc;
    a {
      color: #217d6a;
      display: block;
    }
    .active {
      background-color: #989898;
      color: #fff;
    }
  }

  .nav-tabs > li {
    display: inline-block;
  }

  .prodImg {
    margin: 0 auto !important; 
  }

  .component-title-left {
      color: #434343;
      font-size: $font-size-h4;
      @extend .text-uppercase;
      font-family: "MuseoSans900";
      &:after {
          background: $brand-success;
          content: "";
          display: block;
          @extend .m-x-auto;
          height: ($border-width*3);
          width: 135px;
          margin-top: $spacer-y*1.3;
          margin-bottom: $spacer-y*1.3;
          margin-left: 0px !important;
          margin-right: 0px !important;
      }
  }

  @media screen and (min-width: 769px) {
     .vertical-align {
      display: flex;
      flex-direction: row;
      margin-bottom: 5%;
    }
    .vertical-align > [class^="buton"],
    .vertical-align > [class*="buton"] {
      display: flex;
      align-items: center;
      justify-content: center; 
    }

    .vertical-align > [class^="buton"] > div,
    .vertical-align > [class*="buton"] > div {
      flex: 1;
    }

  }
 
  .small-icons {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2%;
  }

  .mac-prod {
    // height: 250px;
    background: url('../images/free_products_page/mac-background.png') no-repeat scroll left top / cover;
    img, h6 {
      display: inline-block;
    }
  }

  .pc-prod {
    background: url('../images/free_products_page/pc-background.jpg') no-repeat scroll left top / cover;
    img, h6 {
      display: inline-block;
    }
  }

  .mobile-prod {
    background: url('../images/free_products_page/mobile-background.jpg') no-repeat scroll left top / cover;
    img, h6 {
      display: inline-block;
    }
  }

  .more-prod {
    background: url('../images/free_products_page/more-background.jpg') no-repeat scroll left top / cover;
    img, h6 {
      display: inline-block;
    }
  }

  .nav-link span i {
    display: block;
    height: 36px;
    background: url('/images/free_products_page/ft-iset-01.png') center top no-repeat;
    margin-bottom: 2px;
  }
  .nav-link.active span i {
    display: block;
    height: 36px;
    background: url('/images/free_products_page/ft-iset-01a.png') center top no-repeat;
    margin-bottom: 2px;
  }

  .mac span i {
    background-position: center -36px !important;
  }

  .mobile span i {
    background-position: center -72px !important;
  }

  .more span i {
    background-position: center -108px !important;
  }

  .btn.mykas {
    background-color: #333333 !important;
    border-color: #333333 !important;
  }

  .tab-pane h2 sup {
    display: inline-block;
    padding: 0 5px;
    text-transform: uppercase;
    background: red;
    margin-left: 10px;
    color: #fff;
    font-family: 'MuseoSans900', arial;
    line-height: 1.7em;
    // vertical-align: text-bottom;
    margin-bottom: 4px;
    font-size: 40%;
  }

  .tab-pane {
    h2 sup.status-beta {
      background-color: #aaaaaa;
    }
    .col-xs-2 {
      width: 10%;
    }

    h2 sup.status-new {
      background-color: #00a88e;
    }
  }

  // .img-fluid, .carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  //   width: 100%;
  // }

  .prod {
    margin-bottom: 3%;
    img {
      margin-right: 1%;
    }
  }

  .prod .btn {
    vertical-align: middle;
  }

  .product-heading {
    font-family: 'MuseoSans300', arial; 
    line-height: 4rem;
  }

  .product-desc {
    color: #217d6a;
    font-family: 'MuseoSans900', arial; 
    font-size: $font-size-h4;
  }

  .more-product-heading {
    font-family: 'MuseoSans300', arial; 
    color: #fff;
    line-height: 4rem;
  }

  .more-product-desc {
    color: #fff;
    font-family: 'MuseoSans900', arial; 
    font-size: $font-size-h4;
  }

  .nav-item a.active:after {
    width: 0; 
    height: 0; 
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #989898;    
  }

  @media screen and (max-width: 768px) {
    .nav-item {
      width: 24%;
    }
    .col-xs-12 {
      text-align: center;
    }
    .component-title-left {
      &:after {
          margin-left: auto !important;
          margin-right: auto !important;
      }
    }
    .btn {
      margin-bottom: 10%;
    }
  }

  .nav-tabs .nav-link {
    border-color: transparent !important;
  }

  .prod-text {
    div {
      margin-top: 2%;
    }

    .btn {
      white-space: normal !important;
    }
    
    .btn.text-uppercase.btn.btn-danger > img {
      vertical-align: middle;
      float: right;
    }
  }
}