.site-header {
    border-bottom: 1px solid #eee;
    .navbar-light .navbar-nav {
        margin-top: ($spacer-y / 2);
       .nav-link {
            color: #000;
        } 
    }

    .nav-item {
        text-transform: uppercase;
    }

    #topmenu {
        text-align: right;
        & > .nav-item {
            display: inline-block;
            float: none;
        }
    }
    

    #topmenu-collapsed {
        margin-top: 0;

        @extend .navbar-light; 
        .nav-item {
            margin-left: 1rem;

             @include media-breakpoint-down(md) {
                 display: block;
                 float: none;
                 }
        }
    }

    #topmenu-collapsed-wraper {
        clear: both;
        margin-top: $spacer-y;
        margin-bottom: $spacer-y;
        padding: 0.2em .2em .5em;

        @extend .navbar-light; 
        @extend .bg-faded; 
    }

    .navbar-toggler {
        margin-top: .25rem;
        margin-left: 1rem;
        width: 35px;
        height: 40px;
        outline: none;
        background: url('../images/menu-toggle.png') no-repeat center center;
    }
}