.header-404 {
    .title-404 {
        color: #434343;
        font-size: $font-size-h3;
        @extend .text-uppercase;
        font-family: "MuseoSans900";
    }
    .border-left {
        border-left: 3px solid $brand-success;
        margin: 0;
    }
    .border-left div {
        margin-left: 1%;
    }
    .subtitle {
        font-family: "MuseoSans900";
        font-size: 20px;
        color: #565656;
    }
    .description {
        font-family: "MuseoSans300";
        font-size: 20px;
        color: #565656;
        font-weight: 500;
    }
    .homepage-redirect {
        color: #0B735C;
        font-weight: 700;
        font-family: "MuseoSans300";
    }
    .long-description {
        color: #333;
        font-family: "MuseoSans100";
    }
    a {
        box-sizing: content-box;
        position: relative;
        &:after {
            content: '>';
            display: block;
            position: absolute;
            color: #444444; 
            top: -13%; 
            left: 110%;             
        }
        &:last-of-type:after {
                content: normal;
            }
        }
        .breadcrumb {
            background: none !important;
            font-family: 'MuseoSans300';
            font-size: $font-size-xs;
        }
        .active {
            color: #0b725c !important;
        }
}
