.help-me-choose {
        border-top: solid #ededed;
        border-width: 1px 0;
        background: url('../images/grid-background.png') top left repeat-x;
        .btn-choose {
                max-width: 270px;
        }
}