#ksos {
    background: url('../images/grid-background.png') top left repeat-x;

    .price-container {
        background: url('../images/office_security_page/buy-background.png');
        // content: "";
    }
}