#leader-graph {
  .leaderh1 {
    color: #009a82;
    @extend .text-uppercase;
    font-family: "MuseoSans900";
  }
  .leaderh3 {
    color: #009a82;
    @extend .text-uppercase;
    // font-family: "MuseoSans300";
    margin-bottom: 6%;
  }
  .graph {
    margin: 0 auto;
  }
}