.management-team {
    font-family: "MuseoSans300";
    font-size: 16px;
    .management-team-more {
        display: none;
    }
    .img-fluid, .carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
        display: initial;
    }
    .btn-management-team {
        max-width: 270px;
    }
}