.more-solutions {
    font-family: "MuseoSans100";
    font-size: 16px;
    background-color: #F9F9F9;
    .subtitle {
        font-family: "MuseoSans500";
        font-size: 26px;
        color: #434343;
        line-height: 25px;
    }
    .kaspersky {
        color: #0D705B;
        font-family: "MuseoSans300";
        font-size: 16px;
        margin-bottom: 0;
    }
    .total-security-content p {
        margin-bottom: 12px;
    }
    .total-security-wrapper, .total-security-content,
    .home-content, .home-wrapper {
        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }
}