.motorsport {
    border: solid #ededed;
    border-width: 1px 0;
    background: url('../images/home_page/motorsport.png') no-repeat scroll left top / cover;
    font-family: 'MuseoSans300';

    .img-fluid {
        margin-bottom: 10%;
    }

    .carousel-control.left, .carousel-control.right {
        background: 0;
    }

    .carousel-control {
        text-shadow: 0 1px 2px transparent;
    }

    .carousel-indicators .active {
        background-color: $brand-success;
    }

    .carousel-indicators{
        li {
            border: 5px solid #dcdcdc;
            background-color: #dcdcdc;
            box-sizing: content-box;
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                z-index: -1;
                width: 10px;
                height: 9px;
                background: #dcdcdc;
                left: 100%;
                top: 40%;
                margin-top: -3px;
                margin-left: -1px;
            }
            &:last-of-type:after {
                content: normal;
            }
        }
        
    }

    .carousel-indicators {
        bottom: -40px;
    }

    .idc-subtitle {
        padding-left: 10%;
    }

    .btn-success {
        max-width: 270px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;
        width: 100%;
    }
    p {
      color: #fff;
    }
}