.phishing-internet-risks {
        background-color: #F9F9F9;
        font-family: MuseoSans100;
        font-size: 16px;
        ul {
            color: #444444;
            font-weight: 700;
             @include media-breakpoint-down(md) {
                margin-bottom: 5%;
            }
        }
        .phishing-internet-risks-img {
            @include media-breakpoint-down(md) {
                margin-top: 2%;
            }
        }
       .btn-phishing-internet-risks-wrapper {
            max-width: 270px;
            @include media-breakpoint-down(md) {
                 margin: 0 auto !important;
                display: block;
            }
        } 
        img {
            @include media-breakpoint-down(lg) {
                margin-top: 5%;
            }
        }  
}