.prevents-leakage {
    font-family: MuseoSans100;
    font-size: 16px;
    ul {
        color: #444444;
        font-weight: 700;
        @include media-breakpoint-down(lg) {
            margin-bottom: 5%;
        }
    }
    .prevents-leakage-infos {
        @include media-breakpoint-down(md) {
            margin-top: 5%;
        }
    }
    .btn-prevents-leakage-wrapper {
         max-width: 270px;
         @include media-breakpoint-down(md) {
            margin: 0 auto !important;
            display: block;
        }
    }   
}    
    
