#proven-leader {
  border: solid #ededed;
  border-width: 0;
  background: url('../images/proven_leader_page/leader.png') no-repeat scroll left top / cover;
  .title-white {
    color: #fff;
    @extend .text-uppercase;
    font-family: "MuseoSans900";
  }
  h6 {
    color: #fff;
    font-family: "MuseoSans300";
  }
}