.product-image {
        background: url('../images/home_page/product-image.png') no-repeat;
        background-size: cover;
        background-position: left center;
        height: 600px;
        color: #fff;
        .title-product-image {
                color: #fff;
                text-transform: uppercase;
                font-family: 'MuseoSans900';
                font-size: 60px;
        }
        .btn-product-image {
                font-weight: 700;
                text-align: center; 
                text-transform: uppercase;
                max-width: 270px;
                width: 100%;
        }
}