.protects-android-devices {
    font-family: MuseoSans100;
    font-size: 16px;
    ul {
        color: #444444;
        font-weight: 700;
        @include media-breakpoint-down(lg) {
             margin-bottom: 5%;
        }
    }
    .protects-android-devices-infos {
        @include media-breakpoint-down(md) {
            margin-top: 10%;
        }
    }
    .btn-protects-android-devices-wrapper {
         max-width: 270px;
         @include media-breakpoint-down(lg) {
             margin: 0 auto !important;
             display: block;
        }
    }
}    
    
