.renew-license {
        background: url('../images/home_page/renew-license.png') no-repeat;
        background-size: cover;
        background-position: top center;
        font-family: 'MuseoSans300';
        .renew-btn {
            background-color: #0B735C;
            color: #fff;
            border-color:  #0B735C;
            max-width: 270px;
        }
        .note {
            font-size: $font-size-xs;
            color: #A8A8A8;
        }
        .renew-subtitle {
            text-align: center;
        }

}