.safe-kids {
        background-image: url('../images/home_page/safe_kids.jpg');
        background-repeat: no-repeat;
        font-family: 'MuseoSans300';
        .tools-1 {
            color: #176057;
            font-weight: bold;
        }
        .tools-2 {
            color: #343434;
        }
        .safe-link {
            color: #176057;
        }
}