
.monitors-communications .monitors-communications-title, 
.guards-against-online-risks .guards-against-online-risks-title, 
.confirms-location .confirms-location-title,
.manages-device-time .manages-device-time-title {
            color: #434343;
            font-size: $font-size-h3;
            @extend .text-uppercase;
            font-family: "MuseoSans900";
            &:after {
                background: $brand-success;
                content: "";
                display: block;
                height: ($border-width*3);
                width: 135px;
                margin-top: $spacer-y*1.3;
                margin-bottom: $spacer-y*1.3;
            }
        @include media-breakpoint-down(md) {
            text-align: center;
             &:after {
                margin-left: auto !important;
                margin-right: auto !important;
             }
        }  
}
.monitors-communications .monitors-communications-description,
.guards-against-online-risks .guards-against-online-risks-description,
.confirms-location .confirms-location-description,
.manages-device-time .manages-device-time-description {
        @include media-breakpoint-down(md) {
            text-align: center;
        } 
}

.guards-against-online-risks, .manages-device-time {
    background-color: #F7F7F7;
}

