.save-the-world {
        background: url('../images/about_us_page/carousel.png') no-repeat;
        background-size: cover;
        background-position: left center;
        .title-save-the-world {
            font-family: 'MuseoSans900';
            color: #0b725c;
            font-size: 60px;
            text-transform: uppercase;
        }
        .content-save-the-world {
            font-family: 'MuseoSans300';
            font-size: 20px;
            color: #444444;
        }
        a {
            box-sizing: content-box;
            position: relative;
            &:after {
                content: '>';
                display: block;
                position: absolute;
                color: #444444; 
                top: -13%; 
                left: 110%;             
            }
            &:last-of-type:after {
                content: normal;
            }
        }
        .breadcrumb {
            background: none !important;
            font-family: 'MuseoSans300';
            font-size: $font-size-xs;
        }
        .active {
            color: #0b725c !important;
        }
}