.simplifies-security {
    font-family: MuseoSans100;
    font-size: 16px;
    ul {
        color: #444444;
        font-weight: 700;
        @include media-breakpoint-down(md) {
            margin-bottom: 5%;
        }
    }
    .simplifies-security-infos {
        @include media-breakpoint-down(lg) {
            margin-top: 5%;
        }
    }
    .btn-simplifies-security-wrapper {
        max-width: 270px;
        @include media-breakpoint-down(lg) {
            margin: 0 auto !important;
            display: block;
        }            
    }
}    
    
