.small-office-security {
    /*font-family: MuseoSans700;*/
    background-color: #F8F8F8;
    h6, .view  {
        color: $brand-success;
    }
    .view {
        font-family: MuseoSans100;
        font-weight: 700;
        font-size: $font-size-sm;
    }
    .pages {
        font-size: $font-size-xs;
        font-family: MuseoSans100;
    }
}