#trust-expert {
  background: url('../images/proven_leader_page/expert-background.png') no-repeat scroll left top / cover;

  .top-experts {
    background-color: #fff;
    min-height: 190px;
    position: relative;
    img {
      // margin: 0 auto;
      // display: block;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
