.users-protected {
    border: solid #ededed;
    border-width: 1px 0;
    background: url('../images/grid-background.png') top left repeat-x;
    h2 {
        font-family: MuseoSans900;
        ::after {
            display: block;
            width: 100px;
            height: 2px;
            background: green;

            @extend .m-x-auto;
        }
    }
    .users-protected-infos {
        @include media-breakpoint-up(lg) {
            > div {
                margin:0 !important;
                width: 20% !important;
            }
        }
    }
}