#why-us {
  border: solid #ededed;
  border-width: 0;
  background: url('../images/home_page/why_us.png') no-repeat scroll left top / cover;
  p {
    font-family: "MuseoSans300";
    font-size: 1em;
  }
  .graph {
    margin-top: 5%;
  }

  .whyus-btn {
    margin-bottom: 4%;
    max-width: 270px;
  }
}

