#world-class {
  background: url('../images/proven_leader_page/world-grid.png') no-repeat scroll left top / cover;
  .headline {
    font-family: "MuseoSans700";
    margin-left: 4%;
  }
  .text-block {
    background-color: #dcdcdc;
    // padding: 15%;
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10%;
    min-height: 190px;
    margin-bottom: 3%;
    position: relative;

  }
  .text-block:after {
    content: "";
    width: 0;
    height: 0; 
    border-left: 35px solid transparent;
    border-right: 0px solid transparent;
    border-top: 35px solid #dcdcdc;
    position: absolute; 
    margin: 0 auto;
    right: 0;
    bottom: -35px;
  }
  .carousel-control.left, .carousel-control.right {
      background: 0;
  }

  .carousel-control {
      text-shadow: 0 1px 2px transparent;
  }

  .carousel-indicators .active {
      background-color: $brand-success;
  }

  .carousel-inner {
    padding-bottom: 5%;
  }

  .carousel-indicators {
      li {
          border: 5px solid #dcdcdc;
          background-color: #dcdcdc;
          box-sizing: content-box;
          position: relative;
          &:after {
              content: '';
              display: block;
              position: absolute;
              z-index: -1;
              width: 10px;
              height: 9px;
              background: #dcdcdc;
              left: 100%;
              top: 40%;
              margin-top: -3px;
              margin-left: -1px;
          }
          &:last-of-type:after {
              content: normal;
          }
      }
      
  }

  .carousel-indicators {
      bottom: -40px;
  }

  .component-title {
    padding-bottom: 2%;
  }

}