.component-title {
    color: #434343;
    font-size: $font-size-h3;
    font-family: "MuseoSans900";

    @extend .text-uppercase;
    &:after {
        display: block;
        margin-top: $spacer-y*1.3;
        margin-bottom: $spacer-y*1.3;
        width: 135px;
        height: ($border-width*3);
        background: $brand-success;
        content: "";

        @extend .m-x-auto;
    }
}
.component-title-white {
    color: #fff;
    font-size: $font-size-h3;
    font-family: "MuseoSans900";

    @extend .text-uppercase;
    &:after {
        display: block;
        margin-top: $spacer-y*1.3;
        margin-bottom: $spacer-y*1.3;
        width: 135px;
        height: ($border-width*3);
        background: #0A947B;
        content: "";

        @extend .m-x-auto;
    }
}

.btn-secondary {
    overflow: hidden;
    width: 100%;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.banner {
    background-position: center center;
    background-size: cover;

    text-rendering: optimizeLegibility;
}

.lisible-text-banner {
    * {
        position: relative;
        z-index: 2;
    }
    h1, h2, h3, h4 {
        text-shadow:    0px 0px 25px rgba(255, 255, 255, 1),
                        0px 0px 25px rgba(255, 255, 255, 1),
                        0px 0px 25px rgba(255, 255, 255, 1);
    }
    .lisible-text {
        position: relative;
        z-index: 1;
        &:before {
            position: absolute;
            top: -2rem;
            right: -2rem;
            bottom: -2rem;
            left: -2rem;
            border-radius: 50%;
            background: rgba(255, 255, 255, .35);
            content: "";
            filter: blur(10px);
        }
        * {
            position: relative;
        }
    }
}

.banner .btn {
    max-width: 270px;
}

.btn-dark {
    @include button-variant(#FFF, #333, #333);
}

.btn-red {
    @include button-variant(#FFF, $brand-primary, $brand-primary);
}

.btn-green {
    @include button-variant(#FFF, $green-dark, $green-dark);
}

.ul-bullet {
    list-style: square outside url("/images/bullet.png");
}

.img-full-stretch {
    width: 100%;
    height: auto;
}

.kasgreen {
    color: #006d5c;
}

.color-inherit, .color-inherit:link, .color-inherit:hover, .color-inherit:focus, .color-inherit:active, .color-inherit:visited, .color-inherit:active:hover, .color-inherit:active:focus {
    color: inherit;
}
